<head>
    <title>RIPR Test Panel</title>
</head>

<body>

    <div id="main">
        <div class="bearerPart">
            Token<br/>
            <input id="bearerInput" type="text"/>
        </div>
        <hr/>

    </div>

    <script src="jquery.min.js"></script>

    <script>
        var main = $("#main");

        var pre = "https://192.168.150.1"

        function token() {
            return $("#bearerInput").val();
        }

        $("<h2></h2>").text(pre).prependTo(main);
        
        function get(url, callback, successCallback) {
            console.log("GET " + url);
            $.ajax({
                type: "GET",
                url: pre + url,
                beforeSend: function(request) {
                    request.setRequestHeader("Authorization", "Bearer " + token());
                },
                success: function(data) {
                    callback(JSON.stringify(data));

                    if(successCallback) successCallback(data);
                },
                error: function(xhr, status, error) {
                    callback(error);
                }
            });
        }

        function post(url, postDataObj, callback, successCallback) {
            console.log("POST " + url);
            $.ajax({
                type: "POST",
                url: pre + url,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(postDataObj),
                beforeSend: function(request) {
                    request.setRequestHeader("Authorization", "Bearer " + token());
                },
                success: function(data) {
                    callback(JSON.stringify(data));

                    if(successCallback) successCallback(data);
                },
                error: function(xhr, status, error) {
                    callback(error);
                }
            });
        }

        function addBlock(url, fields, successCallback, customBtn) {
            var block = $("<div></div>");

            $("<span></span>")
                .append(((Object.keys(fields).length == 0) ? "GET" : "POST") + " ")
                .append(url)
                .append($("<span></span>").text(pre + url).css("margin-left","100px").css("color", "lightgray"))
                .appendTo(block);

            var sendBtn = $("<button>Send</button>");
            var responseBox = $("<div></div>");

            block.append("<br/>");

            if(Object.keys(fields).length == 0) {
                sendBtn.on("click", function() {
                    get(url, function(response) {
                        responseBox.text(response);
                    }, successCallback);
                });
            } else {
                var flds = [];

                $.each(fields, function(key, value) {
                    if(key.length == 0) return;

                    var fld = $("<input></input>").attr("fname", key).attr("ftype", value);

                    flds.push(fld);

                    block.append(key + " ");
                    block.append(fld);
                    block.append(" ");
                });

                sendBtn.on("click", function() {
                    var postData = {};

                    $.each(flds, function(_, fld) {
                        var isNum = fld.attr("ftype") === "n";

                        var val = fld.val();


                        postData[fld.attr("fname")] = isNum ? parseInt(val) : val.toString();
                    });

                    responseBox.text("");

                    post(url, postData, function(response) {
                        responseBox.text(response);
                    }, successCallback);
                });

                block.append("<br/>");
            }

            block.append(sendBtn);

            if(customBtn) {
                $.each(customBtn, function(_, b) {
                    var extraBtn = $("<button></button>").text(b[0]);

                    extraBtn.on("click", function() {
                        b[1](block);
                    });

                    block.append(extraBtn);
                });
            }

            block.append("<br/>");
            block.append(responseBox);

            block.append("<hr/>");

            main.append(block);
        }

        addBlock("/api/initialized", {});
        addBlock("/api/login", {"username": "t", "password": "t"}, function(data) { if(data.Code === 0) $("#bearerInput").val(data.Data); }, [["Default", function(block) {
            block.find("input").val("mad");
        }]]);
        addBlock("/api/logout", {});
        addBlock("/api/register", {"username": "t", "password": "t", "repeatPassword": "t"});
        addBlock("/api/export/all", {});
        addBlock("/api/control/export", {"sessionid": "n"});
        addBlock("/api/control/shutdown", {});
        addBlock("/api/control/sessions", {});
        addBlock("/api/control/createsession", {"sessionname":"t"});
        addBlock("/api/control/deletesession", {"sessionid":"n"});
        addBlock("/api/control/updatesession", {"sessionid":"n","sessionname":"t"});
        addBlock("/api/control/getsystemstate", {});
        addBlock("/api/control/sessiontags", {"sessionid":"n"});
        addBlock("/api/control/setsystemstate", {"state":"t"});
        addBlock("/api/control/startsession", {"sessionid":"n"});
        addBlock("/api/control/endsession", {"":""});
        addBlock("/api/control/read", {});
        addBlock("/api/control/write", {"tagid":"n"});
        addBlock("/api/control/writestatus", {});
        addBlock("/api/control/forcewrite", {"taguid":"s"}, null, [["Generate", function(block) {
            function createUid() {
                var text = "";
                var possible = "1234567890abcdef";

                for(var i = 0; i < 8; i++) {
                    text += possible.charAt(Math.floor(Math.random() * possible.length));
                }

                return text;
            }

            block.find("input").val(createUid());
        }], ["Default", function(block) {
            block.find("input").val("5abd27e1");
        }]]);
    </script>

</body>